.orderFeed {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.customScroll {
  overflow-y: scroll;
  max-height: 75vh;
}

.customScroll::-webkit-scrollbar {
  width: 8px;
}

.customScroll::-webkit-scrollbar-track {
  background-color: var(--background-element);
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.ordersBoard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.textShadow {
  text-shadow:
    0 4px 32px rgba(51, 51, 255, .5),
    0 0 8px rgba(51, 51, 255, .25),
    0 0 16px rgba(51, 51, 255, .25);
}