.columns {
  max-width: 600px;
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;

}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
cursor: url('../../../images/icons8-black-cat-60.png'), auto;
}

.price {
  max-width: 62px;
  max-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 8px auto;
}

.imageIcon {
  border: none;
}

.counter {
  width: 32px;
  height: 32px;
  flex-shrink: 0;

  background: var(--interface-bg, #131316);
  margin-top: auto;
  margin-left: auto;
}
