.header {
  max-width: 1920px;
  margin: 40px;
  background-color: #131316;

  background: var(--interface-modal-bg, #1C1C21);
}

.content {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
}

.navigation {
  display: flex;
  gap: 16px;
}