.header {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px auto;
  background-color: #131316;
  border: 2px solid var(--interface-accent, #4C4CFF);
  background: var(--interface-modal-bg, #1C1C21);
}

.navigation {
  display: flex;
  gap: 16px;
}

.logo {
  /* Стили для логотипа */
}

.profile {
  /* Стили для профиля */
}