.menuItem {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 20px;
  cursor: pointer;
  border-radius: 40px;
  border: 1px dashed var(--interface-accent, #4C4CFF);
  background: var(--interface-modal-bg, #1C1C21);
  max-width: 178px;
  margin: 64px auto;
}

.menuItem span {
  color: #ffffff;
  /* Цвет текста элементов меню */
  font-size: 14px;
  /* Размер шрифта элементов меню */
}

.active {
  border-bottom: 2px solid #ffffff;
  /* Активный элемент меню имеет подчеркивание */
}