.burgerConstructor {
  max-width: 600px;
  max-height: 912px;
}

.burgerComponents {
  max-height: 656px;
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}

.customScroll {
  overflow-y: auto;
  /* Добавляем прокрутку, если контент переполнен */
  max-height: 600px;
  margin-bottom: 16px;
}

/* нет отступа у последнего элемента */
.customScroll>div:not(:last-child) {
  margin-bottom: 16px;
}

/* отступ только для верхнего элемента */
.customScroll>div:first-child {
  margin-top: 16px;
}

.customScroll::-webkit-scrollbar {
  width: 12px;
}

.customScroll::-webkit-scrollbar-track {
  background: #2F2F37;
}

.customScroll::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}

.info {
  margin-top: 40px;
  max-width: 568px;
  max-height: 64px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;

}

.price {
  max-width: 119px;
  display: flex;
  gap: 8px;
}